Source: xivo-fetchfw
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-fetchfw
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-bs4 (>= 4.0.0), python-progressbar
Description: Wazo Phones and Cards Firmwares Fetch Engine
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package contains the engine used to fetch the necessary
 firmwares for Wazo IP phones and cards.
 .
